@import 'tailwindcss';

.layoutGrid {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

.ellipsis-text {
  /* width: 200px; or any fixed/max width */
  white-space: nowrap; /* keep it on one line */
  overflow: hidden; /* hide the overflow */
  text-overflow: ellipsis; /* show '...' */
}
